body{
	background: gray;
	color: black;
}

a{
	color:yellow;
	text-decoration:none;

}
h1{
	font-family:serif; 
	font-size: 50pt;
}

a:hover{
	color:red;
	background:white;
}
.bluelink:hover{
	background:blue;
	color:white;
}
p{
	color:white;
}


li{
	color:white;
}
.intent{
	margin-left:20px; 
}
.give_gap{
	margin-bottom:50px;
}